.policies{
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    width: 95%;
    margin: 0 auto;    
    background-color: #fff;
}
.policies h5,.policies h4{
    margin: 30px 0;
    color: var(--main-green)
}
.policies li{
    list-style-type: none;
}
main{
    background-color: #f0f0f0;
}