.configurator .row div .content {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background-color: #fff;
  padding: 15px 20px;
  min-height: 100%;
}
.configurator .row .col {
  padding: 10px;
}
.configurator h3,
.configurator h5,
.configurator h4 {
  color: rgb(87, 87, 87);
}
.options {
  color: #fff;
  background: rgb(19, 91, 100);
  background: -moz-linear-gradient(
    45deg,
    rgba(19, 91, 100, 1) 0%,
    rgba(41, 136, 137, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(19, 91, 100, 1) 0%,
    rgba(41, 136, 137, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(19, 91, 100, 1) 0%,
    rgba(41, 136, 137, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#135b64",endColorstr="#298889",GradientType=1);
}
.devis h6 {
  color: var(--main-green);
  font-weight: bold;
}
.devis p {
  color: rgb(87, 87, 87);
  margin-bottom: 0;
}
.devis .total {
  background-color: lightgray;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 15px;
  font-weight: bold;
  color: rgb(87, 87, 87);
}
.conso p {
  font-size: 0.8rem;
}

.check-icon {
  font-size: xx-large;
}

.next Button {
  background: rgb(19, 91, 100);
  background: -moz-linear-gradient(
    45deg,
    rgba(19, 91, 100, 1) 0%,
    rgba(41, 136, 137, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(19, 91, 100, 1) 0%,
    rgba(41, 136, 137, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(19, 91, 100, 1) 0%,
    rgba(41, 136, 137, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#135b64",endColorstr="#298889",GradientType=1);
  border: none;
  border-radius: 15px !important;
  padding: 10px 20px !important;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.models-choice .col-md-6 {
  padding: 30px;
}
.models-choice .model {
  cursor: pointer;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.06);
}
.models-choice .model.selected {
  border: 3px solid var(--main-green);
}
.models-choice .model h4 {
  text-align: center;
}
.timeline {
  margin-bottom: 30px;
  text-align: center;
}
.timeline .line {
  width: 10%;
  display: inline-block;
}
.timeline .step {
  width: 10%;
  display: inline-block;
}
.timeline .step {
  font-weight: bold;
  color: rgb(87, 87, 87);
}
.timeline .step span {
  display: block;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(196, 196, 196);
  margin-bottom: 10px;
  color: #fff;
  line-height: 32px;
}
.timeline .line hr {
  border: 1px solid rgb(87, 87, 87);
  margin-top: -46px;
  border-radius: 50px;
  width: 130%;
  margin-left: -20%;
}
.timeline .step.active span {
  line-height: 22px;

  background-color: var(--main-green);
  border: 5px solid var(--main-lightgreen);
}
